:root {
    --opfl-orange: #FF7A00;
}

body {
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

.bg-black {
    background-color: rgba(0,0,0,0.9);
}

.navbar-logo {
    height: 24px;
}

.navbar-donate {
    color: var(--opfl-orange)
}

.intro-page {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    min-height: 90vh;
    width: 100%;

    background-image: url('assets/owen-beard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 30%;
}

.intro-page > .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 50px 0 20px 0;
}

.intro-page > .content-wrapper > .about {
    padding: 20px;
    background-color: rgba(0,0,0,0.8);
}

.intro-page > .content-wrapper > .about > .header {
    font-size: 1.5em;
}

.intro-page > .content-wrapper > .about > .body {
    margin-left: 20px;
    margin-top: 20px;
}

.intro-page > .content-wrapper > .support {
    background-color: var(--opfl-orange);
    margin: 20px;

    padding: 8px 24px 8px 24px;
    border-radius: 10px;
}


.nav-page {
    position: relative;
    z-index: -1;
    width: 100%;
    height: auto;
    margin-top: -1px;
}

.nav-page::after{
    display: block;
    z-index: -1;
    content: "";
    position: absolute;

    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;

    background-image: url(assets/brain.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale();
    background-attachment: fixed;
}

.nav-page > .content-wrapper {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url(assets/opfl-artwork_background-triangles.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-wrapper {
    padding: 50px 0 200px 0;
}

.card-wrapper > .card {
    padding: 60px 24px 24px 24px;
    margin: 32px;

    min-height: 200px;
    max-width: 300px;
    border-radius: 20px;
}

.card > .card-img-top {
    min-width: auto;
    height: 150px;
}

.card > .card-body {
    height: 50%;
}

.card > .card-body > .card-title {
    text-align: center;
}

.contribute-page {
    z-index: 2;
    height: 100vh;
    width: 100vw;
    margin-top: -160px;
    padding-top: 40px;
}

.contribute-page > .wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.contribute-page > .wrapper::before {
    position: absolute;
    display: block;
    z-index: 0;
    content: "";

    clip-path: polygon(0 calc(50% + 20px), 0 20px, 100% 0, 100% 50%);
    background-color: var(--opfl-orange);

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.contribute-page > .wrapper > .content {
    z-index: -1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.contribute-page > .wrapper > .content.clipped {
    z-index: 10;
    clip-path: polygon(0 calc(50% + 20px), 0 20px, 100% 0, 100% 50%);
}


.content > .inner-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 5px solid white;
    border-radius: 20px;
    padding: 10px;
    color: white; 
    margin: 50px;
    min-height: 300px;
}

.content:not(.clipped) > .inner-box {
    color: black;
    border: 5px solid black;
}

.content > .inner-box > .button {
    background-color: black;
    border-radius: 10px;
    padding: 8px 24px 8px 24px;
    border-radius: 10px;
    color: white;
}